<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.trikode.simampoeh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_98px"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/launcher_rounded_98px"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.SibisaApp.NoActionBar"
        tools:targetApi="n">
        <activity
            android:name=".ui.tagihan.TagihanDetailActivity"
            android:exported="true"
            android:label="@string/title_activity_tagihan_detail"
            android:theme="@style/Theme.SibisaApp.NoActionBar.NoActionBar" />
        <activity
            android:name=".ui.layanan_syarat.LayananSyaratActivity"
            android:exported="true" />
        <activity
            android:name=".ui.tagihan.TagihanActivity"
            android:exported="true" />
        <activity
            android:name=".ui.pengajuan.detail.PengajuanDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.utils.option.OptionMenuActivity"
            android:exported="true" />
        <activity
            android:name=".ui.utils.option.OptionWilayahActivity"
            android:exported="true" />
        <activity
            android:name=".ui.cek_layanan.CekLayananActivity"
            android:exported="true" />
        <activity
            android:name=".ui.kk.tambah.form.data_anggota.tambah.TambahAnggotaKkActivity"
            android:exported="true" />
        <activity
            android:name=".ui.kk.tambah.TambahKkActivity"
            android:exported="true" />
        <activity
            android:name=".ui.kk.KkActivity"
            android:exported="true" />
        <activity
            android:name=".ui.surat_pindah.tambah.TambahSuratPindahActivity"
            android:exported="true" />
        <activity
            android:name=".ui.surat_pindah.SuratPindahActivity"
            android:exported="true" />
        <activity
            android:name=".ui.akta_kematian.tambah.TambahAktaKematianActivity"
            android:exported="true" />
        <activity
            android:name=".ui.akta_kematian.AktaKematianActivity"
            android:exported="true" />
        <activity
            android:name=".ui.kia.tambah.TambahKiaActivity"
            android:exported="true" />
        <activity
            android:name=".ui.kia.KiaActivity"
            android:exported="true" />
        <activity
            android:name=".ui.akta_perkawinan.tambah.TambahAktaPerkawinanActivity"
            android:exported="true" />
        <activity
            android:name=".ui.akta_perkawinan.AktaPerkawinanActivity"
            android:exported="true" />
        <activity
            android:name=".ui.akta_pengangkatan_anak.tambah.TambahAktaPengangkatanAnakActivity"
            android:exported="true" />
        <activity
            android:name=".ui.akta_pengangkatan_anak.AktaPengangkatanAnakActivity"
            android:exported="true" />
        <activity
            android:name=".ui.akta_pengesahan_anak.tambah.TambahAktaPengesahanAnakActivity"
            android:exported="true" />
        <activity
            android:name=".ui.akta_pengesahan_anak.AktaPengesahanAnakActivity"
            android:exported="true" />
        <activity
            android:name=".ui.akta_pengakuan_anak.tambah.TambahAktaPengakuanAnakActivity"
            android:exported="true" />
        <activity
            android:name=".ui.akta_pengakuan_anak.AktaPengakuanAnakActivity"
            android:exported="true" />
        <activity
            android:name=".ui.ktp.tambah.TambahKtpActivity"
            android:exported="true" />
        <activity
            android:name=".ui.akta_lahir.AktaLahirActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SibisaApp.NoActionBar" />
        <activity
            android:name=".ui.akta_lahir.tambah.TambahAktaLahirActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SibisaApp.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.menu_lainnya.MenuLainnyaActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SibisaApp.NoActionBar" />
        <activity
            android:name=".ui.lupa_password.LupaPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SibisaApp.NoActionBar" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SibisaApp.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SibisaApp.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SibisaApp.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main_non_login.MainNonLoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SibisaApp.NoActionBar" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SibisaApp.NoActionBar" />
    </application>

</manifest>